#! WARNING
# Don't remove 127.0.0.1 from any ports mapping

services:
  redis:
    image: redis/redis-stack-server:7.2.0-v13
    ports:
      - "127.0.0.1:6379:6379"
    environment:
      REDIS_ARGS: --save ""
