name: Main CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    container: node:20-alpine

    services:
      redis:
        image: redis/redis-stack:7.2.0-v12

    steps:
      - uses: actions/checkout@v4
      - run: yarn install --frozen-lockfile
      - run: yarn compile
      - run: yarn test:coverage
        env:
          REDIS_HOST: redis
          REDIS_PORT: 6379

